button {
  -webkit-app-region: no-drag;
}

.title-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 2.3rem;
  -webkit-app-region: drag;
}

.main-content {
  position: fixed;
  top: 2.3rem;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1E2128;
}

#sidebar {
  position: fixed;
  top: 2rem;
  bottom: 0;
  left: 0;
  width: 28vh;
  background: #262A33;
}

.nav-content {
  position: fixed;
  top: 2rem;
  right: 0;
  bottom: 0;
  left: 28vh;
  overflow-y: none;
}
