@import url('../fonts/source-sans-pro.css');

body {
  font-family: SourceSansPro;
}

.font-bold {
  font-family: SourceSansPro;
  font-weight: bold;
}

.font-semibold {
  font-family: SourceSansPro;
  font-weight: 600;
}

.font-light {
  font-family: SourceSansPro;
  font-weight: 300;
}

.font-thin {
  font-family: SourceSansPro;
  font-weight: 200;
}
